.background {
    width: 100%;
    height: 100vh;
}

.background-container {
    background-image: url("../../../assets/img/background.png");
}

.overlay {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(75px);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.auth-box {
    background-color: rgb(255, 255, 255, 0.45);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 45%;
    min-width: 350px;
    height: auto;
}

.logo-size {

    width: 15vw;
    height: 15vw;
}

.logo-img {
    background-image: url("../../../assets/img/auth-logo.png");
}

.auth-box form {
    display: flex;
    flex-direction: column;

    width: 35vw;
    height: auto;

    padding: 0 1.5vw;
    padding-bottom: 1.5vw;

    width: 100%;
}

.label {
    display: flex;
    align-items: center;
    grid-gap: 0.6vw;

    margin-bottom: 1vw;
}

.label p {
    font-size: 2.8vw;
}

.icons-size {
    width: 2.8vw;
    height: 2.8vw;
}

.email-icon {
    background-image: url("../../../assets/img/email-icon.png");
}

.username-icon {
    background-image: url("../../../assets/img/username-icon.png");
}

.password-icon {
    background-image: url("../../../assets/img/password-icon.png");
}

.inputs {
    background-color: rgb(255, 255, 255, 0.35);

    font-size: 1.8vw;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 0.5vw;

    margin-bottom: 1.1vw;
    padding: 0.7vw 0.5vw;
}

.submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 0.8vw;

    margin-top: 1vw;
}

.submit-btn input {
    background-color: rgb(255, 255, 255, 0.35);
    
    font-size: 2.8vw;
    border-radius: 0.5vw;

    cursor: pointer;

    padding: 0.8vw 0;

    width: 100%;
    height: 100%;

    transition: all ease-in-out 0.3s;
}

.submit-btn input:hover {
    transform: scale(0.95);
}

.submit-btn p {
    font-size: 1.5vw;
    cursor: default;
}