@media (max-width: 860px) {
    .auth-box {
        width: 60%;
    }

    .logo-size {
        width: 20vw;
        height: 20vw;
    }

    .label {
        grid-gap: 1vw;
    }

    .label p {
        font-size: 4vw;
    }

    .icons-size {
        width: 4vw;
        height: 4vw;
    }

    .inputs {
        font-size: 3vw;
        border-radius: 0.8vw;
    
        margin-bottom: 1.1vw;
        padding: 1vw 1.5vw;
    }

    .submit-btn {
        grid-gap: 1.5vw;
    
        margin-top: 1vw;
    }

    .submit-btn input {
        font-size: 3.2vw;
        border-radius: 0.8vw;
    
        padding: 1vw 0;
    }

    .submit-btn p {
        font-size: 2vw;
    }
}

@media (max-width: 680px) {
    .auth-box form {
        padding: 0 2.5vw;
        padding-bottom: 2.5vw;
    }

    .logo-size {
        width: 27vw;
        height: 27vw;
    }

    .label p {
        font-size: 5vw;
    }

    .icons-size {
        width: 5vw;
        height: 5vw;
    }

    .inputs {
        font-size: 3.8vw;    
        margin-bottom: 2.2vw;
    }

    .submit-btn {
        grid-gap: 1.5vw;
    
        margin-top: 1.5vw;
    }

    .submit-btn input {
        font-size: 4.5vw;
        border-radius: 0.8vw;
    
        padding: 1.5vw 0;
    }

    .submit-btn p {
        font-size: 2.58vw;
    }
}

@media (max-width: 480px) {
    .logo-size {
        width: 30vw;
        height: 30vw;
    }

    .label {
        grid-gap: 1.4vw;
        margin-bottom: 1.3vw;
    }

    .label p {
        font-size: 6vw;
    }

    .icons-size {
        width: 6vw;
        height: 6vw;
    }

    .inputs {
        font-size: 4.8vw;    
        margin-bottom: 2.5vw;
        
        border-radius: 1.2vw;
    }

    .submit-btn {
        grid-gap: 2vw;
        margin-top: 2vw;
    }

    .submit-btn input {
        font-size: 5.3vw;
        border-radius: 1.2vw;
    
        padding: 2vw 0;
    }

    .submit-btn p {
        font-size: 3.3vw;
    }
}