.dashboard {
    padding: calc(.25rem * 6);
    margin-inline: auto;
    
    max-width: 72rem;
}

.dashboard-title > h1 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;

    margin-bottom: calc(.25rem * 2);
}

.dashboard-title > p {
    color: oklch(55.6% 0 0);
}