#language {
    background-color: #fff;
    border: 1px solid #d1d5dc;
    border-radius: 10px;

    cursor: pointer;

    color: #101828;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 500;

    padding-right: 32px;
    padding-block: 8px;
    padding-inline: 16px;

    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}