@media (min-width: 1750px) {
    .auth-box {
        border-radius: 0.6vw;
        padding: 1.25vw;
    }

    .auth-box-title > h1 {
        font-size: 1.15vw;
    }

    .auth-box-title > p {
        font-size: 1vw;
        margin-top: 0.3vw;
    }

    .label {
        margin-top: 0.8vw;
    }

    .label > h2 {
        font-size: 1vw;
        margin-bottom: 0.3vw;
    }

    .auth-box > form > input {
        border-radius: 0.3vw;
        font-size: 1vw;
        padding: 0.4vw 0.7vw;
    }

    .submit-btn {
        border-radius: 0.3vw;
        margin-top: 1vw;
    }

    .submit-btn > input {
        font-size: 0.9vw;
        padding: 0.6vw 0.8vw;
    }
}